.container {
    .container__puntuation {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4636f1;
        padding: 20px 40px;
        border-radius: 0 0 25px 25px;
        .container__title {
            // border: 1px solid blue;
            text-align: center;
            font-size: 20px;
            font-family: $principal-font;
            color: #cec0ff;
            padding: 15px 0;
        }
        .container__number {
            // border: 1px solid green;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $principal-font;
            background-color: #4628db;
            .container__principal-number {
                // border: 1px solid red;
                font-size: 70px;
                font-family: $secondary-font;
                color: white;
            }
            .container__secondary-number {
                // border: 1px solid blue;
                font-size: 18px;
                font-family: $secondary-font;
                color: #cec0ff;
            }
        }
        h1 {
            // border: 1px solid green;
            font-size: $secondary-font;
            color: white;
            padding: 10px;
        }
        .container__result {
            // border: 1px solid purple;
            text-align: center;
            font-family: $secondary-font;
            color: white;
            padding: 10px 0;
        }
    }
    .container__description {
        // border: 1px solid red;
        padding: 0 10px;
        h2 {
            // border: 1px solid red;
            font-family: $principal-font;
            font-weight: 400;
            font-size: 20px;
            padding: 10px 0;
        }
        .container__sections {
            // border: 1px solid blue;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .container__reaction {
                @include container__skill;
                background-color: #fff6f5;
                .container__name {
                    @include container__name;
                    img {
                        width: 30px;
                        height: 30px
                    }
                    p {
                        font-size: 20px;
                        padding: 0 8px;
                    }
                }
                .container__value {
                    @include container__value;
                    .total__value {
                        color: #a39ea5;
                    }
                }
            }
            .container__memory {
                @include container__skill;
                background-color: #fffbf2;
                .container__name {
                    @include container__name;
                    img {
                        width: 30px;
                        height: 30px
                    }
                    p {
                        font-size: 20px;
                        padding: 0 8px;
                    }
                }
                .container__value {
                    @include container__value;
                    .total__value {
                        color: #a39ea5;
                    }
                }
            }
            .container__verbal {
                @include container__skill;
                background-color: #f1fbfa;
                .container__name {
                    @include container__name;
                    img {
                        width: 30px;
                        height: 30px
                    }
                    p {
                        font-size: 20px;
                        padding: 0 8px;
                    }
                }
                .container__value {
                    @include container__value;
                    .total__value {
                        color: #a39ea5;
                    }
                }
            }
            .container__visual {
                @include container__skill;
                background-color: #f3f3fd;
                .container__name {
                    @include container__name;
                    img {
                        width: 30px;
                        height: 30px
                    }
                    p {
                        font-size: 20px;
                        padding: 0 8px;
                    }
                }
                .container__value {
                    @include container__value;
                    .total__value {
                        color: #a39ea5;
                    }
                }
            }
        }
        button {
            // border: 1px solid red;
            width: 100%;
            height: 50px;
            font-size: 20px;
            font-family: $principal-font;
            color: white;
            background-color: #303b59;
            border-radius: 40px;
            cursor: pointer;
        }
    }
}